ion-label {
    font-size: 20px!important;
    font-weight: 600;
    --color: #1c6f84!important;
}

ion-item.input-item {
    --ion-text-color: #2598b4;
    --ion-item-background: #ffffff00!important;
}